.CargoHold {
    margin-left: 12%;
    margin-right: 12%;
}
#CargoPreview {
    border: 1px solid #988b7b;
    border-radius: 5px;
}
#CargoSlots{
    text-align: left;
}
.Slots {
    display: inline-block;
    padding: 10px;
} 
.Slot {
    width:84px;
    height:84px;
    border: 2px dashed #988b7b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.PlusSign {
    font-size: 40px;
    margin-bottom: 5px;
    color: #988b7b;
}